In [ ]:
import pandas as pd

df = pd.DataFrame({
        "Name" : [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age" : [22, 35, 58],
        "Sex" : ["male", "male", "female"]
    }
)

In [ ]:
display(df)

### Series(시리즈)

In [ ]:
import pandas as pd

se = pd.Series([1,2,3,6])
display(se)

##### 자동으로 색인을 만들지 않고 index 키워드를 사용해 원하는 색인의 이름을 입력

##### class pandas.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)
[source]¶

In [ ]:
import pandas as pd

se = pd.Series([1,2,3,6] , ['서울', "대전", "대구" ,"부산"])
se['서울']
print(se[['서울' , "부산"]])
print(type(se[['서울' , "부산"]]))

#### index–  만들어진 시리즈에서 인덱스만을 출력

In [ ]:
se = pd.Series([1,2,3,6] , ['서울', "대전", "대구" ,"부산"])
se.index

#### values –   만들어진 시리즈 데이터에서 값들만을 출력

In [ ]:
se = pd.Series([4,10,3,6] , ['서울', "대전", "대구" ,"부산"])
se.values

##### sorted() 함수 – 인덱스나 값들로 정렬

In [ ]:
sort = sorted(se.index)
display(sort)

In [ ]:
sort = sorted(se.values)
display(sort)

In [ ]:
sort = sorted(se.index)
reindex_se = se.reindex(sort)
display(reindex_se)

###### 시리즈의  합
###### –   인덱스별로 저장된 값들의 합을 구함
###### –   x와 y에 공통된 인덱스가 존재해야 더할 수 있으므로 광주와 대전은 NaN으로 표시

In [ ]:
se_x = pd.Series([4,10,3,6] , ['서울', "대전", "대구" ,"부산"])
se_y = pd.Series([100,123,3,6] , ['서울', "대전", "대구" ,"부산"])
se_x+se_y

In [ ]:
se_x = pd.Series([4,10,3,6] , ['서울', "대전", "대구" ,"부산"])
se_y = pd.Series([100,123,3,6] , ['서울', "대전", "전주" ,"광주"])
se_x+se_y

###### unique() – 시리즈로부터 유일한 값들만을 반환

In [ ]:
medal = [1,2,3,1,2,5,6,2]
se = pd.Series(medal)
se.unique()

In [ ]:
data = {'alice': [1, 2, 3], 'bob': 20, 'tony': 15, 'suzy': 30,"dodo": [1,3,5,7], "mario": "pitch"}
x = pd.Series(data)
x

In [ ]:
data = {'alice': [1, 2, 3], 'bob': 20, 'tony': 15, 'suzy': 30,"dodo": [1,3,5,7], "mario": "pitch"}
x = pd.Series(data)
y = x[2:6]
display(y.values)
display(y.index)

#### pandas.Series.to_frame

In [ ]:
s = pd.Series(["a", "b", "c"],name="vals")
s

In [ ]:
df = s.to_frame()
display(df)

## DataFrame

In [ ]:
data  = {
    'age': [23, 43,12,45],
    'name':['민준','형우', '서연','태경'],
    'height': [175,180.4 ,165.2, 200.3]
}

df = pd.DataFrame(data,  columns= ['age', 'height', 'name'])

In [ ]:
display(df.name)
display(df['age'])

In [ ]:
display(df['age'][0:2])

##### iloc() 메소드를 사용하여 특정한 행이나 위치의 내용들을 지정하여 출력

In [ ]:
ary = [[1,2], [3,4],[4,5]]
df = pd.DataFrame(ary , columns =['First' , 'Second'])
df

In [ ]:
display(df[0:1])
display(df.iloc[0])

###### 모든 행의 마지막 데이터만을 출력

In [ ]:
display(df.iloc[: , -1])

###### 특정행의 마지막 데이터만을 출력

In [ ]:
df.iloc[0:2, -1]

In [ ]:
df = pd.read_csv("train.csv")
df

##### head()

In [ ]:
df.head()

In [ ]:
df.head(10)

In [ ]:
df.head(10)

In [ ]:
df.head(-10)

In [ ]:
df.tail(-10)

In [ ]:
ary = [[1,2], [3,4],[4,5], [6,7],[8,9]]
data = pd.DataFrame(ary, columns=['First', 'Second'])
bools = [False, True, False , True , True]
display(data)
display(data['Second'][bools])

In [ ]:
#axis=0을 줘서 행 방향 = 열의 합을 구할 수 있다. 마찬가지로 axis=1을 인자로 주면, 열 방향 = 행의 합을 구할 수 있다.
ary = [[1,2], [3,4],[4,5], [6,7],[8,9]]
data = pd.DataFrame(ary, columns=['First', 'Second'])
display(data.mean())
display(data.mean(axis=0))

In [ ]:
2+3.0

In [ ]:
import pandas as pd

df = pd.read_csv('경상남도_대기오염경보자동발령시스템_미세먼지 및 오존 측정데이터 자료_O3 시간평균_20200928.csv' , engine='python', encoding='euc-kr')
df

In [ ]:
df_함양 = df['함양읍'].to_frame()

In [ ]:
df_함양 = df['함양읍'].to_frame()
df_함양.loc[df_함양.함양읍=="교정중" , "함양읍"] = 0.6

In [ ]:
df_함양.loc[df_함양.함양읍=="전원단절" , "함양읍"] = 0.6

In [ ]:
df_함양.mean(axis=1)

#### 존재하지  않는  값

###### 처리하는 방법
###### ① 찾아서 복구
###### ② 해당 라인(행)을 삭제
###### ③ 해당 칼럼(열)이 중요하지 않다면 삭제
###### ④ 해당 값을 다른 값들의 평균을 구해 입력(빈도수가 가장 많은 것을 선택)

DataFrame.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)[source]

In [ ]:
import pandas as pd 
from numpy import NaN

robots = [[23,23680],[35,NaN],[46,23680],[27,NaN]]
df = pd.DataFrame(robots, columns=['max_speed', 'price'])
display(df)

In [ ]:
df.dropna(subset=['price'] , axis=0)

In [ ]:
df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
                   "toy": [NaN, 'Batmobile', 'Bullwhip'],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),
                            pd.NaT]})
df

In [ ]:
df.dropna()

In [ ]:
df.dropna(axis='columns')

In [ ]:
# value 값이 선언한 thresh에 미치지 못하는 개수라면 그 axis에 해당하는 행이나 열은 삭제한다
df.dropna(thresh=2)

In [ ]:
df.dropna(subset=['name', 'toy'])

#### 다른  값들의  평균을  구해 NaN를  대체(replace())

In [ ]:
robots = [[23,23680],[35,NaN],[46,33680],[27,NaN]]
df = pd.DataFrame(robots, columns=['max_speed', 'price'])
mean = df.price.mean()
display(df)
df= df.replace(NaN , mean)
display(df)

#### Binning
##### –   다수의 bin으로 그룹화하는 것
##### –   일반적으로 숫자의 크기별로 종류를 구분 짓는 것 
##### –   특정 값들의 집합을 해당 bin에 할당

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
x = np.random.randn(1000)
plt.hist(x, density=True, bins=np.linspace(-5, 5, 21))

#### 데이터 포메팅중 예 get_dummies()

In [20]:
import pandas as pd
import numpy as np

data = [[1,2,'손'],[2,2.3,'날개'],[3,3.4,'손']]
df = pd.DataFrame(data, columns=['수온', '삼온', 'hand'])
display(df)
df_1  = pd.get_dummies(df.hand)
display(df_1)

   수온   삼온 hand
0   1  2.0    손
1   2  2.3   날개
2   3  3.4    손

   날개  손
0   0  1
1   1  0
2   0  1

In [21]:
df = pd.merge(df , df_1,how='outer',left_index=True,right_index=True)
display(df)

   수온   삼온 hand  날개  손
0   1  2.0    손   0  1
1   2  2.3   날개   1  0
2   3  3.4    손   0  1

In [9]:
df = df.merge(df_1,how='cross')
display(df)

   수온   삼온 hand  날개_x  손_x  날개_y  손_y
0   1  2.0    손     0    1     0    1
1   1  2.0    손     0    1     1    0
2   1  2.0    손     0    1     0    1
3   2  2.3   날개     1    0     0    1
4   2  2.3   날개     1    0     1    0
5   2  2.3   날개     1    0     0    1
6   3  3.4    손     0    1     0    1
7   3  3.4    손     0    1     1    0
8   3  3.4    손     0    1     0    1

In [11]:
df.drop(columns=['hand'])

   수온   삼온  날개_x  손_x  날개_y  손_y
0   1  2.0     0    1     0    1
1   1  2.0     0    1     1    0
2   1  2.0     0    1     0    1
3   2  2.3     1    0     0    1
4   2  2.3     1    0     1    0
5   2  2.3     1    0     0    1
6   3  3.4     0    1     0    1
7   3  3.4     0    1     1    0
8   3  3.4     0    1     0    1